saved-data
**/Dockerfile
.dockerignore
.gitignore
node_modules
frontend-source
build
react-build
README.md
**/*.pyc
**/__pycache__
**/*.pyo
**/*.pyd
.Python
env
pip-log.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
**/*.log
.git

