[Unit]
Description=Leds service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ledserver
ExecStop=/usr/bin/docker stop -t 2 ledserver

[Install]
WantedBy=default.target
